.carouselContainer {
  position: relative;
  width: 100%;
  height: 40rem;
  margin: auto;
  margin-top: 4.5rem;
  overflow: hidden;
  margin-bottom: 3rem;
  padding-top: 1rem;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  max-width: 1560px;
  display: flex;
}

.carouselInner {
  display: flex;
  width: calc(100% * 3);
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.carouselItem {
  flex: 0 0 33.33%; 
  box-sizing: border-box;
  padding: 0 10px;
}

.carouselItem img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 1300px) {
  .carouselItem {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .carouselContainer {
    height: 20rem;
  }

  .carouselItem {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .carouselContainer {
    height: 10rem;
    margin-top: 4.5rem;
  }

  .carouselItem {
    flex: 0 0 100%;
    padding: 0 10px;
    width: 100%;
    height: 100%;
  }

  .carouselItem img {
    width: 123px;
    height: 115px;
    margin: 0;
  }
}

@media screen and (max-width: 468px) {
  .carouselContainer {
    height: 10rem;
    margin-top: 4.5rem;
  }

  .carouselItem {
    flex: 0 0 100%;
    padding: 0 10px;
    width: 80%;
    height: 80%;
  }

  .carouselItem img {
    width: 92.25px;
    height: 86.25px;
    margin: 0;
  }
}