.videoBanner {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  text-align: center;

  .logo {
    width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index: 1000;
    filter: invert(1);
  }

  .videoBannerVideo {
    width: 85%;
    height: 100%;
    object-fit: cover;
    border-radius: 1%;
  }

  .videoBannerContent {
    bottom: 20px;
    color: white;
    text-align: center;
    z-index: 1000;
  }
}
