.subscribeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 5rem;
  width: 100%;
  z-index: 1000;

  iframe {
    width: 100%;
    max-width: 1000px;
    border: none;
    min-width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .subscribeContainer {
    margin-bottom: -1rem;
    iframe {
      width: 90%;
      max-width: 100%;
    }
  }
}
