.MissionStatement {
    position: relative;
    clip-path: polygon(65% 0, 100% 3%, 100% 100%, 34% 95%, 0 100%, 0 0, 36% 6%);
    background-image: url('/public/img/forester-film-edits-35.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10rem;
    overflow: hidden;
}

.MissionStatementPara {
    clip-path: polygon(65% 0, 100% 3%, 100% 100%, 34% 95%, 0 100%, 0 0, 36% 6%);
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: ghostwhite;
    position: relative;
    margin: 5rem;
    padding: 8rem 2rem 6rem;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}
