html {
    scroll-behavior: smooth;
}  

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #270027, #0a000a, #150015);
    overflow-x: hidden;
}


.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .faded {
    background-color: red;
    opacity: 0.3;
    transition: opacity 0.5s ease;
  }
  
  .focused {
    opacity: 1 !important;
    pointer-events: all;
  }
  